* {
    text-align: center;
    user-select: none;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    /* background-image: url("bg.jpg"); */
    background-color: #000026;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
}

h1 {
    font-size: 4vw;
    text-shadow: 0px 0px 10px #fff,
            0px 0px 25px rgb(153, 0, 255),
            0px 0px 25px rgb(153, 0, 255);
}

h5 {
    font-size: 32px;
    font-weight: bold;
}

#benar {
    text-shadow: 0px 0px 10px rgb(78, 236, 38),
            0px 0px 25px rgb(74, 185, 22),
            0px 0px 25px rgb(0, 255, 0);
}

#salah {
    text-shadow: 0px 0px 10px rgb(207, 56, 56),
        0px 0px 25px rgb(185, 22, 22),
        0px 0px 25px rgb(255, 0, 0);
}

p {
    font-weight: bold;
}

.bpm {
    background-color: rgb(22, 3, 31);
    font-size: 7vw;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.bpm-app {
    margin: 20px;
    border-radius: 16px;
    background-color: rgba(2, 0, 0, 0.6);
}

button:focus {
    outline: none;
}

.tapTempo {
    display: block;
    width: 120px;
    height: 100px;
    margin: 20px auto;
    color: #fff;
    border-radius: 16px;
    border: 2px solid #fff;
    cursor: pointer;
    background-color: rgb(24, 1, 49);
    transition: 0.1s;
    font-size: 24px;
}

.tapTempo:hover {
    box-shadow: 0px 0px 25px rgb(128, 14, 151);
}

.tapTempo:active {
    background-color: rgb(61, 8, 117);
}

.reset {
    background-color: rgb(50, 1, 1);
    color: #fff;
    width: 90px;
    height:36px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.1s;
}

.reset:active {
    background-color: rgb(112, 0, 0);
}

.inputColm {
    width:280px;
    height: 30px;
    margin:20px auto;
    display: block;
}

input {
    padding: 5px;
    font-size: 20px;
    background-color: rgb(4, 5, 61);
    border-radius: 8px;
    color: #fff;
}

.inputKey {
    background-color: rgb(5, 84, 104);
}

.submit {
    background-color: rgb(27, 146, 17);
    color: #fff;
    font-size: 24px;
    margin: 10px auto;
    width: 200px;
    height: 50px;
    border-radius: 16px;
    border: 2px solid rgb(24, 24, 24);
    cursor: pointer;
    padding: 5px;
}

.submit:hover{
    box-shadow: 0px 0px 25px rgb(52, 196, 16);
    transition: 0.2s;
}

.pnbtn {
    padding: 5px 5px;
    cursor: pointer;
}

.linkstart {
    width: 50%;
    height: 60px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 50px rgb(255, 0, 0);
    border-radius: 16px;
    margin-top: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.linkstart:hover {
    background-color: rgba(255, 0, 0, 0.5);

}